/*  Stylesheet for On The Job
    8/17/2024
    Creating a visually appealing website for this project, aiming to provide a colorful experience for users.
*/


/* !DELETE WHEN DONE!
colors used #cdcccc  #314f63 save for footer 
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/

body{
    background-color:#b9b7a0 ;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

/* Navagation Begins*/
.header-container{
    display: flex;
    background-color: #314f63;
    padding: 10px,20px;
    align-items: center;
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.212);
}
.header-container h1{
    color: #cdcccc;
    margin-left: 20px;
}
.navBar{
   flex-grow: 1;
}
.navBar ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    gap: 25px;
}
.navBar ul a{
    text-decoration: none;
    color: #cdcccc;
    font-size: 20px;
}
/* Navagation Ends */

/* Hero Content Begins */
.heroContent img{
    width: 100%;
    display: block;
    object-fit: cover;
}

/* Hero Content ends  */